h4 {
  font-size: 25px;
  color: #455f79;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-icon {
  margin-bottom: 10px;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 50%;
  right: 50%;
  z-index: 10;
  opacity: 1;
  transition: all 0.3s;
  .modal-content {
    width: 40vw;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: white;
    box-shadow: 0 3px 10px #a7a3a3;
  }
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.input-row {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin-bottom: 10px;
}

.calendar {
  height: 200px;
  border-radius: 8px;
  margin-right: 10px;
}

.calendar-input {
  flex-basis: 50%;
}

.age-input {
  margin-top: 40px;
  margin-left: 12px;
  flex-basis: 50%;
}
