.input-area {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.input-label {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #000;
  opacity: 0.6;
}
