.register-hall-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-hall-header {
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
}

.register-hall-content {
  position: fixed;
  top: 25%;
  width: 60%;
  height: 60%;
  box-shadow: 0 0px 2px #a7a3a3;
}

.register-hall-form {
  padding: 25px;
}

.col-span {
  margin-left: 12px;
}

.register-submit-btn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

form {
  &:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
    & + label {
      opacity: 0;
    }
  }

  &:invalid:focus:not(:placeholder-shown) {
    & ~ .requirements {
      max-height: 200px;
      padding: 0 30px 20px 50px;
    }
  }
}
