button {
  font-weight: bold;
}

.sign-in {
  width: 100%;
  padding: 10px;
  background-color: #3a66c9;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #3a66c9;
}
.sign-up {
  width: 100%;
  padding: 10px;
  background-color: #00a400;
  color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  border: 1px solid #00a400;
}
.book-hall {
  width: 10%;
  padding: 10px;
  background-color: #00a400;
  color: #fff;
  border-radius: 8px;
  margin-top: 25px;
  border: 1px solid #00a400;
}
.register-hall {
  width: 25%;
  padding: 10px;
  background-color: #3a66c9;
  color: #fff;
  border-radius: 8px;
  margin-top: 25px;
  border: 1px solid #3a66c9;
}

.book-hall-btn {
  padding: 5px;
  background-color: #00a400;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #00a400;
}

.book-now-confirm {
  padding: 10px;
  background-color: #00a400;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #00a400;
}

.book-now-close {
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.form-submit-btn {
  margin: 0px 35px 10px;
}

.filter-button {
  margin-right: 3%;
  color: #fff;
  background-color: #339af0;
  border: 1px solid;
  border-radius: 5px;
}

.btn-clear-filter {
  width: 10%;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
