.nav-container {
  display: flex;
}

.nav-main {
  width: 85%;
}

.nav-main-header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #f8f8ff;
  color: #3a66c9;
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
}
