.date-area {
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  margin-right: 10px;
  border: 1px solid #706d6d;
}

.date-label {
  margin-bottom: 12px;
  font-weight: bold;
  color: #000;
  opacity: 0.6;
}
