p,
button,
input,
label {
  font-size: 14px;
}
h1 {
  font-size: 14px;
  margin-bottom: 20px;
  color: #3a66c9;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  color: #455f79;
  margin-bottom: 14px;
  font-weight: bold;
}

.login-container {
  display: flex;
}

.login-container-image {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100vh;
}

.login-container-form {
  width: 30%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  > .login-form input,
  button,
  p {
    margin-bottom: 14px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
  padding-right: 14px;
}

p {
  margin-top: 12px;
}

.nav-link {
  color: #1a73e8;
  font-weight: bold;
}

.sign-in-btn {
  display: flex;
  width: 100%;
  margin-top: 18px;
}
