p,
button,
input,
label {
  font-size: 3rem;
}
h1 {
  font-size: 6rem;
  margin-bottom: 10rem;
  color: #3a66c9;
  font-weight: bold;
}
h2 {
  font-size: 4rem;
  color: #455f79;
  margin-bottom: 4rem;
  font-weight: bold;
}

.login-container {
  display: flex;
}

.login-container-image {
  display: flex;
  align-items: center;
  width: 70%;
  height: 100vh;
}

.login-container-form {
  width: 30%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  > .login-form input,
  button,
  p {
    margin-bottom: 4rem;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
  padding-right: 4rem;
}

p {
  margin-top: 3rem;
}
