h5 {
  font-size: 25px;
  color: #455f79;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.col-span {
  margin-left: 12px;
}

.book-hall-container {
  overflow-y: scroll;
  max-height: 90vh;
}

.book-hall-container::-webkit-scrollbar {
  display: none;
}

.book-hall-table {
  margin: 25px;
  border-right-color: #ffffff;
  border-collapse: collapse;
  th,
  td {
    padding: 16px 16px;
    text-align: left;
  }

  th {
    background-color: #3a66c9;
    color: #fff;
    width: 10%;
  }
}

.book-hall-thead th:first-child {
  border-top-left-radius: 10px;
}

.book-hall-thead th:last-child {
  border-top-right-radius: 10px;
}

.book-hall-tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.book-hall-tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.search-box {
  display: flex;
  margin: 25px 0px 0px 25px;
  justify-content: space-between;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px 0 0 10px;
}
.search-button {
  text-align: center;
  width: 40px;
  border: 1px solid;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
}

.advance-filter-container {
  display: flex;
  flex-direction: column;
  padding: 5;
  box-shadow: 0 0px 2px #a7a3a3;
  margin: 10px 25px 0px 25px;
}

.advance-filter-row {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-modal-window {
  position: fixed;
  background-color: #ffffff40;
  top: 50%;
  right: 30%;
  z-index: 10;
  opacity: 1;
  transition: all 0.3s;
  .book-modal-content {
    width: 30vw;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: white;
  }
}

.overlay-bg {
  z-index: 5;
  position: absolute;
  width: 85%;
  height: 100%;
  top: 0;
  left: 15%;
  background: #38343480;
}

.book-hall-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 5px 8px 0px;
}
